:80 {
    root * /usr/share/caddy

    # API Weiterleitung
    handle /api/* {
        reverse_proxy app:3001
    }

    # Alles andere (Webseite)
    handle {
        file_server
        try_files {path} /index.html
    }
}
